<div class="row" *ngFor="let session of visibleSessions">
  <div class="col-md-1">
    <div *ngIf="auth.isAuthenticated()">
      <upvote (vote)="toggleVote(session)" [count]="session.voters.length" [voted]="userHasVoted(session)"></upvote>
    </div>
  </div>
    <div class="col-md-10">
      <collapsible-well>
        <div data-well-title style="display: inline-block">
            {{session.name}}
            <i *ngIf="session.voters.length > 3" class="glyphicon glyphicon-fire" style="color:red"></i>
        </div>
        <span data-chevron-down style="display: inline-block" class="glyphicon glyphicon-menu-down pull-right" *ngIf="!visible"></span>
        <span data-chevron-up style="display: inline-block" class="glyphicon glyphicon-menu-up pull-right" *ngIf="!visible"></span>
        <div data-well-body>
          <h6>{{session.presenter}}</h6>
          <span>Duration: {{session.duration | duration}}</span><br />
          <span>Level: {{session.level}}</span>
      
          <p>{{session.abstract}}</p>
        </div>
      </collapsible-well>
    </div>
</div>